<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [3]:
import pandas as pd
import numpy as np

In [4]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [5]:
concrete_data.shape

(1030, 9)

In [6]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [7]:
#check if any missing data
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

#### Split data into predictors and target

In [8]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [9]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [10]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [11]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [12]:
n_cols = predictors_norm.shape[1] # number of predictors

#### Split the data into a training and test sets by holding 30% of the data for testing

In [13]:
# !pip3 install keras==2.1.6

In [35]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split( predictors_norm, target, test_size=0.3, random_state=4)

## Import Keras

In [15]:
import tensorflow as tf
print(tf.__version__)

# !pip install tensorflow==2.3

2.3.0

In [16]:
from tensorflow import keras
print(keras.__version__)

# python3 -c 'import tensorflow as tf; print(tf.__version__)'  # for Python 3

2.4.0

In [17]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

## Build a Neural Network

In [38]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

## Train and Test the Network

In [39]:
from sklearn.metrics import mean_squared_error

In [40]:
# build the model
model = regression_model()
mse_list = []
for i in range(50):
    model.fit(X_train, y_train, validation_split=0.3, epochs=50, verbose=0)
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_pred,y_test)
    mse_list.append(mse)
    print("mse of epoch %d : %.2f" % (i+1,mse))

mse of epoch 1 : 153.46
mse of epoch 2 : 139.59
mse of epoch 3 : 124.54
mse of epoch 4 : 105.30
mse of epoch 5 : 92.23
mse of epoch 6 : 83.14
mse of epoch 7 : 79.67
mse of epoch 8 : 71.87
mse of epoch 9 : 66.40
mse of epoch 10 : 61.13
mse of epoch 11 : 53.26
mse of epoch 12 : 46.82
mse of epoch 13 : 43.55
mse of epoch 14 : 42.18
mse of epoch 15 : 41.24
mse of epoch 16 : 41.48
mse of epoch 17 : 41.38
mse of epoch 18 : 41.47
mse of epoch 19 : 41.78
mse of epoch 20 : 42.15
mse of epoch 21 : 42.03
mse of epoch 22 : 41.80
mse of epoch 23 : 41.78
mse of epoch 24 : 41.79
mse of epoch 25 : 41.00
mse of epoch 26 : 40.87
mse of epoch 27 : 41.36
mse of epoch 28 : 41.37
mse of epoch 29 : 41.31
mse of epoch 30 : 41.07
mse of epoch 31 : 41.85
mse of epoch 32 : 41.47
mse of epoch 33 : 41.58
mse of epoch 34 : 41.71
mse of epoch 35 : 42.22
mse of epoch 36 : 41.56
mse of epoch 37 : 42.75
mse of epoch 38 : 42.30
mse of epoch 39 : 41.86
mse of epoch 40 : 42.01
mse of epoch 41 : 43.08
mse of epoch 42 : 41.90
mse of epoch 43 : 42.23
mse of epoch 44 : 42.61
mse of epoch 45 : 42.05
mse of epoch 46 : 42.20
mse of epoch 47 : 41.82
mse of epoch 48 : 41.85
mse of epoch 49 : 41.69
mse of epoch 50 : 42.22

In [42]:
mse_df =  pd.DataFrame(mse_list)
mse_df.mean()
mse_df.std()

print("mean of mse: %.2f. std of mse: %.2f" % (mse_df.mean(),mse_df.std()))

mean of mse: 53.36. std of mse: 26.33